.banner-start {
    height: 100vh;
}
.videoTag{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-1;
}

.box2 {
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.box-name {
    font-size:40px;
    height: 50px;
    color: wheat;
    font-family: 'Playfair Display', serif;
}
.box-qualities {
    font-family: 'EB Garamond', serif;
    font-size:25px;
    color: rgb(250, 246, 221);
}
.box {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #19232cbe;
    border-radius: 30px;
    padding:15px;
    width:600px;
    font-family: 'Overlock', cursive;
    font-size: 20px;
    font-weight: bold;
    background: rgba(252, 252, 252, 0.356);
}

.box div>p{
    color: rgb(49, 48, 42);;
}