.personal-skill {
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 30px;
    background:linear-gradient(rgb(114, 184, 255),rgba(38, 112, 187, 0));
}
.personal-list{
    align-items: center;
    justify-content: center;
    width:100%;
    font-size: 17px;
}
.personal-head {
    padding-bottom:10px;
    font-size:18px;
    font-weight: bold;
}