.skills-start {
    height: 100vh;
    background: url("../../Utils/macbook-pro-on-brown-wooden-table-2312369.jpg") no-repeat fixed;
    background-size: 100vw 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}