.port-header{
    display: flex;
    background: rgba(18, 108, 177, 0.383);
    height: 60px;
    align-items: center;/* just in case*/
    justify-content: space-between;
}
.port-header div:nth-child(1){
    margin-left:20px;
    font-size:30px;
    font-weight: bolder;
}

.port-header div:nth-child(2){
    text-align: center;
    flex: 1 1 0px;
}