.header-head{
    background: #353535;
    display:grid;
    grid-template-columns: 25% 75%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.header-name {
    color: White;
    margin:10px;
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 5px;
}
.header-link ul{
    display: grid;
    grid-template-columns: 10% 15% 15% 15% 10% 17%;
    margin-left:200px;
    list-style-type: none;
    text-align: center;
}
.header-link ul li a {
  text-decoration: none;
  padding: 19px;
  color:wheat;
  font-weight: bolder;
}
.header-link ul li a:hover {
  background: rgb(255, 255, 255);
  color:rgb(37, 74, 110);
}
