.header-head{
    background: #d4ecf6;
    display:grid;
    grid-template-columns: 25% 75%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.header-name {
    border: #123 1px solid;
    padding:10px;
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
}
.header-link ul{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    margin-left:200px;
    list-style-type: none;
}
li a {
    text-decoration: none;
}
